/* General Styles */
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #F0FFFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.love h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
}

.love span {
    font-weight: bold;
}


/* Specific button colors */
.yes {
    background-color: #28a745; /* Green */
}

.maybe {
    background-color: #ffc107; /* Yellow */
}

.no {
    background-color: #dc3545; /* Red */
}


a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.button {
    background-color: red;
}

.button:hover {
    background-color: darkred;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 600px) {
    .love h2 {
        font-size: 1.2em;
    }

    a {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}

/* Extra Small Devices (phones, 600px and down) */
@media (max-width: 400px) {
    .love h2 {
        font-size: 1em;
    }

    a {
        font-size: 0.8em;
        padding: 6px 12px;
    }
}
h2 {
    font-size: 1.5em;
    margin: 20px 0;
}

.icon {
    width: 30px; /* Adjust size as needed */
    height: auto;
    animation: pulse 1.5s infinite; /* Apply pulsing animation */
}
.bean {
    width: 250px; /* Adjust size as needed */
    height: 350px;
    animation: pulse 5s infinite; /* Apply pulsing animation */
    display: flex;
    position: relative;
	top: -350px;

}

.envelope {
    width: 100px; /* Adjust size as needed */
    height: 70px;
    animation: pulse 2s infinite; /* Apply pulsing animation */
    display: flex;
    position: flex;
	top: -550px;

}

/* Keyframes for Pulsing Effect */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.sticker {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-top: 20px;
}

.invite{
	max-width: 80%;
    max-height: 70%;
	position: relative;
	top: -10px;
	margin-top: -150px;
	margin-bottom: 150px;
	border: 2px solid black; /* Black border */
    padding: 2px;  
}

.black{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: -500vh;
    text-align: center;
	position: relative;
	margin-top: -150px;
	margin-bottom: 150px;
}
.choice{
    display: flex;
    justify-content: auto;
    align-items: center;
    min-height: -500vh;
    text-align: center;
	position: relative;
	margin-top: -100px;
}

        .large-textbox {
            width: 300px;  /* Set the width */
            height: 100px; /* Set the height */
            font-size: 12px; /* Optional: Increase font size */
		}